<?xml version="1.0" encoding="UTF-8"?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <!-- Seite fuer die Anzeige aller Aufgaben -->

    <h:body>
        <ui:composition template="ToDoTemplate.xhtml">
            <ui:define name="anzeige">
                <h:form>
                    <!-- Die dataTable zeigt alle Aufgaben; egal ob sie einer Liste zugeordnet sind oder nicht -->
                    <h:dataTable value="#{aufgabeData.aufgabenAlleGefiltert}" var="aufgabe" styleClass="dataTable">
                        <h:column>
                            <!-- Anwender kann eine Aufgabe abhaken; erledigte Aufgabe wird in gruen und durchgestrichen angezeigt -->
                            <h:commandLink action="#{aufgabeData.erledigeAufgabe(aufgabe)}" rendered="#{(aufgabe.style == 'null')}" styleClass="iconErledigt">Erledigt</h:commandLink>
                            <!-- Abhaken einer Aufgabe kann rueckgaengig gemacht werden; Aufgabe wird wieder normal angezeigt (in schwarz und nicht mehr durchgestrichen) -->
                            <h:commandLink action="#{aufgabeData.resetErledigt(aufgabe)}" onclick="if(!confirm('Aufgabe doch nicht erledigt?')) return false" rendered="#{(aufgabe.style == 'erledigt')}" styleClass="iconNichtErledigt">Doch nicht erledigt</h:commandLink>
                        </h:column>
                        <h:column>    				
                            <f:facet name="header">Priorität</f:facet>    				
                            <h:outputText value="#{aufgabe.prioritaet}" styleClass="#{aufgabe.style}" />
                        </h:column>
                        <h:column>    				
                            <f:facet name="header">Titel</f:facet>
                            <!-- wird das Icon fuer die Schnellbearbeitung von Titel und Beschreibung angeklickt, so wird aus dem entsprechenden,
                                 angezeigten Titel ein Eingabefeld, um die gewuenschte  Aenderung hineinschreiben zu koennen -->
                            <h:inputText value="#{aufgabeData.titel}" size="10" rendered="#{aufgabe.canEdit}" />
                            <h:outputText value="#{aufgabe.titel}" rendered="#{not aufgabe.canEdit}" styleClass="#{aufgabe.style}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Beschreibung</f:facet>
                            <!-- wird das Icon fuer die Schnellbearbeitung von Titel und Beschreibung angeklickt, so wird aus der entsprechenden,
                                 angezeigten Beschreibung ein Eingabefeld, um die gewuenschte  Aenderung hineinschreiben zu koennen -->
                            <h:inputText value="#{aufgabeData.beschreibung}" size="10" rendered="#{aufgabe.canEdit}" />
                            <h:outputText value="#{aufgabe.beschreibung}" rendered="#{not aufgabe.canEdit}" styleClass="#{aufgabe.style}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Fälligkeitsdatum</f:facet>
                            <h:outputText value="#{aufgabe.faellig}" styleClass="#{aufgabe.style}" />
                        </h:column>
                        <h:column>
                            <!-- Schnellbearbeitung von Titel und Beschreibung -->
                            <h:commandLink action="#{aufgabeData.editAufgabe(aufgabe)}"  rendered="#{(not aufgabe.canEdit) and (not aufgabeData.canEdit) and (aufgabe.style == 'null')}" styleClass="iconBearbeiten">Titel und Beschreibung bearbeiten</h:commandLink>
                            <!-- speichert einzelne Aenderung -->
                            <h:commandLink action="#{aufgabeData.saveAufgabe(aufgabe)}"  rendered="#{aufgabe.canEdit}" styleClass="iconSpeichern">Speichern</h:commandLink> 
                        </h:column>
                        <h:column>
                            <!-- komplettes Bearbeiten einer Aufgabe -->
                            <h:commandLink action="#{aufgabeData.editAllAufgabe(aufgabe)}" rendered="#{(not aufgabeData.canEdit) and (aufgabe.style == 'null')}" styleClass="iconAlleBearbeiten">Komplette Aufgabe bearbeiten</h:commandLink>
                        </h:column>
                        <h:column>
                            <!-- loescht eine Aufgabe; das Loeschen einer Aufgabe muss bestaetigt werden -->
                            <h:commandLink action="#{aufgabeData.deleteAufgabe(aufgabe)}" onclick="if(!confirm('Soll die Aufgabe wirklich gelöscht werden?')) return false" rendered="#{(aufgabe.style != 'ausgeblendet') and (not aufgabe.canEdit)}" styleClass="iconLoeschen">Löschen</h:commandLink> 
                        </h:column>    
                    </h:dataTable>
                </h:form>
           </ui:define>
        </ui:composition>
    </h:body>
</html>
