<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <!-- Seite die nach Log Out erscheint -->
    
    <h:body>
        <ui:composition template="ToDoTemplate.xhtml">
            <ui:define name="main">
                <div id="Ausgeloggt">
                    <!-- Meldung nach erfolgreichem Ausloggen -->
                    <h:form rendered="#{!(Login.eingeloggt)}">
                        Sie haben sich erfolgreich ausgeloggt.
                    </h:form>
                    <!-- Anzeige nachdem Log Out nicht erfolgreich war -->
                    <h:form rendered="#{Login.eingeloggt}">
                        <h:commandButton styleClass="homebutton" value="Meine Aufgaben" action="ToDoTemplate.xhtml"/>
                    </h:form>
                </div>
            </ui:define>             
        </ui:composition> 
    </h:body>
</html>


