<?xml version="1.0" encoding="UTF-8"?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    
     <!-- Seite zum Bearbeiten einer Liste -->
    
    <h:body>
        <ui:composition template="ToDoTemplate.xhtml">
            <ui:define name="anzeige">
                <h:form>
                    <h3>Liste bearbeiten</h3>
                    <hr/>
                    <table id="tableNeueAufgabe" align="center">
                        <tr>
                            <td align="left">Titel :</td>
                            <td align="left">
                                <h:inputText size="20" value="#{listeData.titel}" />
                            </td>
                        </tr> 
                        <tr>
                            <td align="left">Benutzer :</td>
                            <td align="left">
                                <!-- Button "Benutzer hinzufügen" wird nicht angezeigt, nachdem er gedrückt wurde oder wenn "Benutzer entfernen" angeklickt wurde -->
                                <h:commandButton styleClass="button1" value="Benutzer hinzufügen" action="BenutzerZuListeHinzufuegen" rendered="#{!(listeData.entferne or listeData.hinzufuegen)}">
                                    <f:actionListener binding="#{listeData.setEntferne(false)}" />
                                    <f:actionListener binding="#{listeData.setHinzufuegen(true)}" />
                                </h:commandButton>
                                <!-- Button "Benutzer entfernen" wird nicht angezeigt, nachdem er gedrückt wurde oder wenn "Benutzer hinzufügen" angeklickt wurde -->
                                <h:commandButton styleClass="button1" value="Benutzer löschen" action="BenutzerVonListeLoeschen" rendered="#{!(listeData.hinzufuegen or listeData.entferne)}">
                                    <f:actionListener binding="#{listeData.setEntferne(true)}" />
                                    <f:actionListener binding="#{listeData.setHinzufuegen(false)}" />
                                </h:commandButton>
                                <!-- hier werden die entsprechenden Seiten zum Hinzufuegen oder Loeschen von Benutzern hineingeladen -->
                                <ui:insert name="benutzer"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="left">
                                <!-- speichert die bearbeitete Liste -->
                                <h:commandButton styleClass="button1" value="Liste speichern" action="#{listeData.saveAllListe()}" >
                                    <f:actionListener binding="#{Login.setErlaubterUser(null)}" />
                                    <f:actionListener binding="#{Login.setSuchanzeige(null)}" />
                                </h:commandButton>
                                <!-- bricht das Bearbeiten der Liste ab -->
                                <h:commandButton styleClass="button1" value="Abbrechen" action="listenverwaltung">
                                     <f:actionListener binding="#{listeData.setEntferne(false)}" />
                                     <f:actionListener binding="#{listeData.setHinzufuegen(false)}" />
                                     <f:actionListener binding="#{Login.setErlaubterUser(null)}" />
                                     <f:actionListener binding="#{Login.setSuchanzeige(null)}" />
                                </h:commandButton>
                            </td>
                        </tr>
                    </table>  
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>    
</html>
