<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
     
    <!-- Seite zum Bearbeiten einer Aufgabe -->
    
    <h:body>
        <ui:composition template="ToDoTemplate.xhtml">
            <ui:define name="anzeige">
                <h:form>
                    <h3>Aufgabe bearbeiten</h3>
                    <hr/>
                    <table id="tableNeueAufgabe" align="center">
                        <tr>
                            <td align="left" style="width:140px">Liste :</td>
                            <td align="left">
                                <!-- Die Aufgabe kann einer oder mehreren Listen zugeordnet werden.
                                     Wenn "keine Liste" gewaehlt wird, wird die Aufgabe nur unter "Alle Aufgaben" angezeigt -->
                                <h:selectManyListbox value="#{aufgabeData.listen}" size="4">
                                    <f:selectItem itemLabel="keine Liste" itemValue="keine Liste"/>
                                    <f:selectItems value="#{listeData.listenGefiltert}" var="liste" itemValue="#{liste.id}" itemLabel="#{liste.titel}"/>
                                </h:selectManyListbox>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Priorität :</td>
                            <td align="left">
                                <!-- es kann zwischen den Prioritaeten "normal", "hoch" und "niedrig" ausgewaehlt werden -->
                                <h:selectOneMenu required="true" value="#{aufgabeData.prioritaet}">
                                    <f:selectItem itemLabel="Normal" itemValue="Normal"/>
                                    <f:selectItem itemLabel="Hoch" itemValue="Hoch" />
                                    <f:selectItem itemLabel="Niedrig" itemValue="Niedrig"/>
                                </h:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Titel :</td>
                            <td align="left">
                                <h:inputText size="20" value="#{aufgabeData.titel}" />
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Beschreibung :</td>
                            <td align="left">
                                <h:inputText size="20" value="#{aufgabeData.beschreibung}" />
                            </td>
                        </tr>
                         <tr>
                            <td align="left">Fälligkeitsdatum :</td>
                            <td align="left">
                                <h:inputText size="20" value="#{aufgabeData.faellig}" styleClass="datepicker"/>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Benutzer:</td>
                            <td align="left">
                                <!-- Button "Benutzer hinzufügen" wird nicht angezeigt, nachdem er gedrückt wurde oder wenn "Benutzer entfernen" angeklickt wurde -->
                                <h:commandButton styleClass="button1" value="Benutzer hinzufügen" action="BenutzerHinzufuegen" rendered="#{!(aufgabeData.entferne or aufgabeData.hinzufuegen)}">
                                    <f:actionListener binding="#{aufgabeData.setEntferne(false)}" />
                                    <f:actionListener binding="#{aufgabeData.setHinzufuegen(true)}" />  
                                </h:commandButton>
                                <!-- Button "Benutzer entfernen" wird nicht angezeigt, nachdem er gedrückt wurde oder wenn "Benutzer hinzufügen" angeklickt wurde -->
                                <h:commandButton styleClass="button1" value="Benutzer entfernen" action="BenutzerLoeschen" rendered="#{!(aufgabeData.hinzufuegen or aufgabeData.entferne)}">
                                    <f:actionListener binding="#{aufgabeData.setEntferne(true)}" />
                                    <f:actionListener binding="#{aufgabeData.setHinzufuegen(false)}" />   
                                </h:commandButton>
                                <!-- hier werden die entsprechenden Seiten zum Hinzufuegen oder Loeschen von Benutzern hineingeladen -->
                                <ui:insert name="benutzer"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="left">
                                <!-- speichert die bearbeitete Aufgabe -->
                                <h:commandButton styleClass="button1" value="Aufgabe speichern" action="#{aufgabeData.saveAllAufgabe()}" >
                                    <f:actionListener binding="#{Login.setErlaubterUser(null)}" />
                                    <f:actionListener binding="#{Login.setSuchanzeige(null)}" />
                                </h:commandButton> 
                                <!-- bricht das Bearbeiten der Aufgabe ab -->
                                <h:commandButton styleClass="button1" value="Abbrechen" action="AlleAufgaben">
                                    <f:actionListener binding="#{aufgabeData.setEntferne(false)}" />
                                    <f:actionListener binding="#{aufgabeData.setHinzufuegen(false)}" />
                                    <f:actionListener binding="#{Login.setErlaubterUser(null)}" />
                                    <f:actionListener binding="#{Login.setSuchanzeige(null)}" />
                                </h:commandButton>
                            </td>
                        </tr>
                    </table>  
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>      
</html>


