<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <!-- Seite zum Hinzufuegen beliebig vieler Benutzer zu einer Liste -->
    
    <h:body>
        <ui:composition template="BearbeiteListe.xhtml">
            <ui:define name="benutzer">
                    <h:inputText value="#{Login.erlaubterUser}" styleClass="autocomplete" ></h:inputText>
                    <!-- fuegt neuen Benutzer hinzu -->
                    <h:commandButton styleClass="button" value="Hinzufügen" action="#{Login.UserZuListeHinzufuegen(Login.erlaubterUser)}" />
                    <br/>
                    <!-- gibt an, ob Benutzer erfolgreich hinzugefuegt oder nicht gefunden wurde -->
                    <h:outputText styleClass="benutzer" value="#{Login.suchanzeige}"/>          
            </ui:define>             
        </ui:composition> 
    </h:body>
</html>


