<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <!-- Seite zum Entfernen von Benutzern von einer Aufgabe  -->
    
    <h:body>
        <ui:composition template="BearbeiteAufgabe.xhtml">
            <ui:define name="benutzer">
                    <!-- Auswaehlen der zugriffsberechtigten Benutzer aus allen bisher zugeordneten Benutzern -->
                    <h:selectManyListbox value="#{aufgabeData.bearbeiteUser}" size="4">
                        <f:selectItems value="#{aufgabeData.bearbeiteUser}" var="user" itemValue="#{user}" itemLabel="#{user}"/>
                    </h:selectManyListbox>   
                    <br/>
                    <!-- Hinweis fuer den Anwender -->
                    <h:outputText styleClass="benutzer" value="Bitte zugriffsberechtigte Benutzer auswählen!" />    
            </ui:define>             
        </ui:composition>  
    </h:body>
</html>


