<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <!-- Seite zum Hinzufügen beliebig vieler Benutzer zu einer Aufgabe -->
    
    <h:body>
        <ui:composition template="BearbeiteAufgabe.xhtml">
            <ui:define name="benutzer">
                    <!-- Eingabefeld fuer die Benutzer -->
                    <h:inputText value="#{Login.erlaubterUser}" styleClass="autocomplete"></h:inputText>
                    <!-- fuegt eingegebenen Benutzer hinzu, wenn er zugriffsberechtigt ist -->
                    <h:commandButton styleClass="button" value="Hinzufügen" action="#{Login.UserHinzufuegen(Login.erlaubterUser)}"/>
                    <br/>
                    <!-- gibt an, ob der eingegebene Benutzer erfolgreich hinzugefuegt wurde oder ob der Benutzer nicht gefunden werden konnte -->      
                    <h:outputText styleClass="benutzer" value="#{Login.suchanzeige}"/> 
            </ui:define>             
        </ui:composition> 
    </h:body> 
</html>


