<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <!-- Seite zum Anzeigen einer Fehlermeldung bei falschen Login-Daten -->
    
    <h:body>
        <ui:composition template="ToDoTemplate.xhtml">
            <ui:define name="main">
                <div id="LoginFehler">
                    <!-- erscheint, wenn Login fehlgeschlagen ist -->
                    <h:form rendered="#{!(Login.eingeloggt)}">
                        <h:outputText value="#{Login.anzeige}" /><br/>
                        Benutzername oder Passwort falsch.
                        Bitte geben Sie Ihre Daten erneut ein.
                    </h:form>
                    <!-- falls durch neu Laden der Seite wieder auf die Fehlermeldung verwiesen wird, der Benutzer aber schon eingeloggt ist, wird ein Link zu den Aufgaben angezeigt -->
                    <h:form rendered="#{Login.eingeloggt}">
                        <h:commandButton styleClass="homebutton" value="Meine Aufgaben" action="ToDoTemplate.xhtml"/>
                    </h:form>
                </div>
            </ui:define>             
        </ui:composition> 
    </h:body> 
</html>


