<?xml version="1.0" encoding="UTF-8"?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- Seite zum Verwalten der Listen -->
    
    <h:body>
        <ui:composition template="ToDoTemplate.xhtml">
            <ui:define name="anzeige">
                <h:form>
                    <!-- Die dataTable zeigt alle bereits angelegten Listen mit deren Titel an -->
                    <h:dataTable styleClass="dataTable" value="#{listeData.listenGefiltert}" var="liste">
                        <h:column>    				
                            <f:facet name="header">Titel</f:facet>
                            <h:outputText value="#{liste.titel}" />
                        </h:column>
                        <!-- Bearbeiten einer Liste; Titel und zugriffsberechtigte Benutzer koennen geaendert werden -->
                        <h:column>
                            <h:commandLink action="#{listeData.editListe(liste)}" styleClass="iconBearbeiten">Bearbeiten</h:commandLink>
                        </h:column>
                        <h:column>
                            <!-- loescht eine Liste; das Loeschen einer Liste muss bestaetigt werden -->
                            <h:commandLink action="#{listeData.deleteListe(liste)}" onclick="if(!confirm('Soll die Liste wirklich gelöscht werden?')) return false" styleClass="iconLoeschen">Löschen
                                <f:actionListener binding="#{aufgabeData.deleteAllFromList(liste)}"/>
                            </h:commandLink> 
                        </h:column>  
                    </h:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

