<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
     
    <!-- Seite zum Erstellen einer neuen Aufgabe -->
    
    <h:body>
        <ui:composition template="ToDoTemplate.xhtml">
            <ui:define name="anzeige">
                <h:form>
                    <h3>Neue Aufgabe erstellen</h3>
                    <hr/>
                    <table id="tableNeueAufgabe" align="center">
                        <tr>
                            <td align="left">Liste :</td>
                            <td align="left">
                                <!-- Die Aufgabe kann einer oder mehreren Listen zugeordnet werden.
                                     Wenn "keine Liste" gewaehlt wird, wird die Aufgabe nur unter "Alle Aufgaben" angezeigt -->
                                <h:selectManyListbox value="#{aufgabeData.listen}" size="4">
                                    <f:selectItem itemLabel="keine Liste" itemValue="keine Liste"/>
                                    <f:selectItems value="#{listeData.listenGefiltert}" var="liste" itemValue="#{liste.id}" itemLabel="#{liste.titel}"/>
                                </h:selectManyListbox>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Priorität :</td>
                            <td align="left">
                                <!-- es kann zwischen den Prioritaeten "normal", "hoch" und "niedrig" ausgewaehlt werden -->
                                <h:selectOneMenu required="true" value="#{aufgabeData.prioritaet}">
                                    <f:selectItem itemLabel="Normal" itemValue="Normal"/>
                                    <f:selectItem itemLabel="Hoch" itemValue="Hoch" />
                                    <f:selectItem itemLabel="Niedrig" itemValue="Niedrig"/>
                                </h:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Titel :</td>
                            <td align="left">
                                <h:inputText size="20" value="#{aufgabeData.titel}" />
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Beschreibung :</td>
                            <td align="left">
                                <h:inputText size="20" value="#{aufgabeData.beschreibung}" />
                            </td>
                        </tr>
                         <tr>
                            <td align="left">Fälligkeitsdatum :</td>
                            <td align="left">
                                <h:inputText size="20" value="#{aufgabeData.faellig}" styleClass="datepicker"/>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Benutzer:</td>
                            <td align="left">
                                <!-- Eingabefeld fuer die Benutzer -->
                                <h:inputText value="#{Login.erlaubterUser}" styleClass="autocomplete" ></h:inputText>
                                <!-- eingegebener Benutzer wird hinzugefuegt, wenn er zugriffsberechtigt ist -->
                                <h:commandButton styleClass="button" value="Hinzufügen" action="#{Login.suche(Login.erlaubterUser)}" />
                                <br/>
                                <!-- gibt an, ob der eingegebene Benutzer erfolgreich hinzugefuegt wurde oder ob der Benutzer nicht gefunden werden konnte -->
                                <h:outputText styleClass="benutzer" value="#{Login.suchanzeige}" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="left">
                                <!-- legt eine neue Aufgabe entsprechend der getaetigten Eingaben an; dies ist nur moeglich, wenn mindestens ein Benutzer hinzugefuegt wurde.
                                     Anwender wird anhand einer Popup-Meldung ueber das erfolgreiche Hinzufuegen der Aufgabe informiert-->
                                <h:commandButton styleClass="button" value="Aufgabe hinzufügen" action="#{aufgabeData.addAufgabe()}" onclick="alert('Aufgabe erfolgreich hinzugefügt!')" rendered="#{Login.userhinzugefuegt}">
                                    <f:actionListener binding="#{Login.setErlaubterUser(null)}" />
                                    <f:actionListener binding="#{Login.setSuchanzeige(null)}" />
                                </h:commandButton>
                                <!-- Meldung wird solange angezeigt bis mindestens ein Benutzer hinzugefuegt wurde -->
                                <h:outputText value="Bitte Benutzer hinzufügen!" rendered="#{!Login.userhinzugefuegt}"></h:outputText>
                                <br/>
                                <!-- bricht das Erstellen der Aufgabe ab -->
                                <h:commandButton styleClass="button1" value="Abbrechen" action="AlleAufgaben">
                                    <f:actionListener binding="#{Login.setErlaubterUser(null)}" />
                                    <f:actionListener binding="#{Login.setSuchanzeige(null)}" />
                                </h:commandButton>
                            </td>
                        </tr>
                    </table>  
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>   
</html>


