<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <!-- Seite zum Anlegen einer neuen Liste -->
    
    <h:body>
        <ui:composition template="ToDoTemplate.xhtml">
            <ui:define name="anzeige">
                <h:form>
                    <h3>Neue Liste erstellen</h3>
                    <hr/>
                    <table id="tableNeueAufgabe" align="center">
                        <tr>
                            <td align="left">Titel :</td>
                            <td align="left">
                                <h:inputText size="20" value="#{listeData.titel}" />
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Benutzer:</td>
                            <td align="left">
                                <!-- Eingabefeld fuer die Benutzer -->
                                <h:inputText value="#{Login.erlaubterUser}" styleClass="autocomplete" ></h:inputText>
                                <!-- fuegt eingegebenen Benutzer hinzu, wenn er zugriffsberechtigt ist -->
                                <h:commandButton styleClass="button" value="Hinzufügen" action="#{Login.suche(Login.erlaubterUser)}" />
                                <br/>
                                <!-- gibt an, ob der eingegebene Benutzer erfolgreich hinzugefuegt wurde oder ob der Benutzer nicht gefunden werden konnte -->
                                <h:outputText styleClass="benutzer" value="#{Login.suchanzeige}" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="left">
                                <!-- legt eine neue Liste entsprechend der getaetigten Eingabe an; dies ist nur moeglich, wenn mindestens ein Benutzer hinzugefuegt wurde.
                                     Anwender wird anhand einer Popup-Meldung ueber das erfolgreiche Hinzufuegen der Liste informiert-->
                                <h:commandButton styleClass="button" value="Liste hinzufügen" action="#{listeData.addListe()}" onclick="alert('Liste erfolgreich hinzugefügt!')" rendered="#{Login.userhinzugefuegt}">
                                    <f:actionListener binding="#{Login.setErlaubterUser(null)}" />
                                    <f:actionListener binding="#{Login.setSuchanzeige(null)}" />
                                </h:commandButton>
                                <!-- Meldung wird solange angezeigt bis mindestens ein Benutzer hinzugefuegt wurde -->
                                <h:outputText value="Bitte Benutzer hinzufügen!" rendered="#{!Login.userhinzugefuegt}"></h:outputText>
                                <br/>
                                <!-- bricht das Erstellen der Liste ab -->
                                <h:commandButton styleClass="button1" value="Abbrechen" action="listenverwaltung">
                                     <f:actionListener binding="#{Login.setErlaubterUser(null)}" />
                                     <f:actionListener binding="#{Login.setSuchanzeige(null)}" />
                                </h:commandButton>
                            </td>
                        </tr>
                    </table>  
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>


