<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <!-- Startseite von MyToDo  -->  
   
    <h:body>
        <ui:composition template="ToDoTemplate.xhtml">
            <ui:define name="main">
            <div id="startseite">
                <!-- Anzeige nach Aufrufen von MyToDo (Normalfall) -->
                <h:form rendered="#{!(Login.eingeloggt)}">
                    <h1>Willkommen bei MyToDo!</h1>
                </h:form>
                <!-- "Homebutton" erscheint nach Aufrufen von MyToDo , wenn sich der Anwender vorher nicht ausgeloggt hat; 
                      er kann nun waehlen, ob er sich ausloggen moechte oder per "Homebutton" zu seinen Aufgaben gelangen moechte -->
                <h:form rendered="#{Login.eingeloggt}">
                    <h:commandButton styleClass="homebutton" value="Meine Aufgaben" action="ToDoTemplate.xhtml"/>
                </h:form>
            </div>
            </ui:define>             
        </ui:composition> 
    </h:body>
</html>
    
    