<?xml version='1.0' encoding='UTF-8' ?>
<!--
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
     
    <!-- Template von MyToDo -->  
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>TODO-Liste</title>
        <link rel="stylesheet" type="text/css" href="resources/styles/Template_styles.css"></link>
        <link rel="stylesheet" href="resources/styles/jquery-ui.css"></link>
        <script src="resources/js/jquery-2.1.1.min.js"></script>
        <script src="resources/external/jquery/jquery.js"></script>
        <script src="resources/js/jquery-ui-german.js"></script>
        <script src="resources/js/datepicker.js"></script>
        <script src="resources/js/iconbuttons.js"></script>
        <script src="resources/js/autoheight.js"></script>
        <script src="resources/js/autocomplete.js"></script>
    </h:head>
    
    <h:body>
        <div id="webseite">
            
            <div id="header">
                <h1> MyToDo </h1>
            </div>
            
            <div id="hauptmenue">
                <h:form>
                    <!-- Log In: 
                         Eingabefeld fuer den eigenen Benutzernamen -->
                    <h:inputText p:placeholder="Benutzername" value="#{Login.name}" rendered="#{!Login.eingeloggt}"/>
                    <!-- Eingabefeld fuer das eigene Passwort -->
                    <h:inputSecret p:placeholder="Passwort" value="#{Login.pw}" rendered="#{!Login.eingeloggt}"/>
                    <!-- leitet Anwender zu seinen ToDo-Listen, wenn die Anmeldedaten korrekt sind -->
                    <h:commandButton styleClass="loginbutton" value="Log In" action="#{Login.login()}" rendered="#{!Login.eingeloggt}"/>
                   
                    <!-- gibt an, welcher Benutzer eingeloggt ist -->
                    <h:outputText styleClass="LoginAnzeige" value="#{Login.anzeige}" rendered="#{Login.eingeloggt}"/>
                    <!-- Log Out -->
                    <h:commandButton styleClass="loginbutton" value="Log Out" action="#{Login.logout()}" rendered="#{Login.eingeloggt}">
                    </h:commandButton>
                </h:form>
            </div>

            <div id="main">
                <ui:insert name="main">
                <div id="menue" class="autoheight">
                    <h1>Meine ToDo-Listen</h1>
                    <ul class="navbar">                                             
                        <h:form rendered="#{Login.eingeloggt}">  
                            <li>
                                <!-- Default-Listenbutton "Alle Aufgaben" -->
                                <h:commandButton styleClass="menubutton1" value="Alle Aufgaben" action="AlleAufgaben">
                                    <f:actionListener binding="#{aufgabeData.filterAlleAufgaben()}"/>
                                </h:commandButton>
                            </li>
                            <h:dataTable value="#{listeData.listenGefiltert}" var="liste">
                                <h:column>
                                    <li>
                                        <!-- Listenbuttons der angelegten Listen -->
                                        <h:commandButton styleClass="menubutton" value="#{liste.titel}" label="#{liste.titel}" action="#{aufgabeData.filterAufgabe(liste.id)}" rendered="#{liste.erlaubnis}">
                                            <f:actionListener binding="#{aufgabeData.setAktiveListe(liste.id)}"/>
                                        </h:commandButton>
                                    </li>
                                </h:column>
                            </h:dataTable> 
                        </h:form>
                    </ul>
                </div>
                
                <div id="inhalt" class="autoheight">
                    
                    <div id="toolbar">
                        <h:form rendered="#{Login.eingeloggt}">
                            <!-- Button fuer das Anlegen einer neuen Aufgabe -->
                            <h:commandButton styleClass="toolbutton" value="Neue Aufgabe" action="NeueAufgabe" >
                                <f:actionListener binding="#{Login.setUserhinzugefuegt(false)}"/>
                                <f:actionListener binding="#{aufgabeData.loescheDataWerte()}" />
                                <f:actionListener binding="#{Login.clearUserList()}" />
                            </h:commandButton>
                            <!-- Button fuer das Anlegen einer neuen Liste -->
                            <h:commandButton styleClass="toolbutton" value="Neue Liste" action="neueListe">
                                <f:actionListener binding="#{Login.setUserhinzugefuegt(false)}"/>
                                <f:actionListener binding="#{listeData.loescheDataWerte()}" />
                                <f:actionListener binding="#{Login.clearUserList()}" />
                            </h:commandButton>
                            <!-- Button fuer das Verwalten der bereits angelegten Listen -->
                            <h:commandButton styleClass="toolbutton" value="Listen verwalten" action="listenverwaltung"/>
                            <!-- Button fuer das Ausblenden erledigter Aufgaben -->
                            <h:commandButton styleClass="toolbutton" value="Erledigte Aufgaben ausblenden" action="#{aufgabeData.erledigteAusblenden()}" rendered="#{!aufgabeData.ausgeblendet}"/>
                            <!-- Button fuer das Einblenden erledigter Aufgaben -->
                            <h:commandButton styleClass="toolbutton" value="Erledigte Aufgaben einblenden" action="#{aufgabeData.erledigteEinblenden()}" rendered="#{aufgabeData.ausgeblendet}"/>
                            <!-- Button um alle erledigten Aufgaben zurueckzusetzen; die Aufgaben werden wieder normal angezeigt (in schwarz und nicht mehr durchgestrichen -->
                            <h:commandButton styleClass="toolbutton" value="Reset" action="#{aufgabeData.resetAlle()}" />
                        </h:form>
                    </div>
                    
                    <div id="anzeige">
                      <!-- Hier werden die entsprechenden Seiten fuer das Anlegen bzw. Bearbeiten einer Aufgabe oder Liste, 
                           fuer die Listenverwaltung und fuer die Anzeige der Aufgaben hineingeladen -->
                      <ui:insert name="anzeige"></ui:insert>                 
                    </div>
                    
                </div>
                </ui:insert>
            </div>
            
            <div id="footer">
                <p>Lachmann, Linke, Reiter</p>
            </div>
                        
        </div>
    </h:body>
</html>
