/*
MyToDo
Authors: Svenja Lachmann, Anna Linke, Alisa Reiter
*/
/*
* Styles für das Template --> Html Elemente
*/


/* Universalselektor */
*{
    font-family: Arial, sans-serif;
}

body{
    background-color: white;
    text-align:center; //Webseite zentrieren im Internet-Explorer
}

/* Gesamte Webseite */
#webseite{
    width: 80%;
    line-height: 1.5em;
    margin: 0 auto; //Webseite automatisch anpassen, zentrieren
    display: block;
}

/* Header */
#header{
    width: 100%;
    min-width: 815px;
    height: 100px;
    background-color: darkcyan;
    border-radius: 5px; //abgerundete ecken (wird noch nicht in jedem browser unterstuetzt)
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Ueberschrift Header */
#header h1{
    padding-top:40px; 
    font-size:60px; 
    font-weight:bold; 
    color:white;
    font-family:Courier;
}

/* Hauptmenue Loginbereich */
#hauptmenue{
    width: 100%;
    min-width: 815px;
    height:30px;
    background-color: gainsboro;
    margin-top: 10px;
    float: left;
}

/* Main = Inhalt + Menue */
#main{
    width:100%;
    min-width: 860px;
}

/* Seitenmenue Listen */
#menue{
    float:left;
    text-align: left;
    width: 20%;
    min-height: 300px;
    min-width: 172px;
    background: gainsboro;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}

/* Ueberschrift für Seitenmenue Listen */
#menue h1{
    margin-top: 0px;
    font-size:18px; 
    font-weight:bold; 
    color:white;
    background: darkgrey;
    padding: 0.3em;
}

/* Inhalt = Anzeige + Toolbar */
#inhalt{
    float:right;
    width:78%;
    min-height:300px;
    min-width: 600px;
    position: inherit;
    background:gainsboro;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}

/* Toolbar */
#toolbar{
    float:right;
    width:100%;
    background: darkgrey;
    height: 34px;
}

/* Anzeigebereich */
#anzeige{
    float:right;
    width:100%;
    background: gainsboro;
    margin-top: 5px;
}

/* Footer */
#footer {
    width:100%;
    min-width: 815px;
    height:30px;
    background:darkcyan;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top:20px;
    clear:both;
}

/* Navigationsleiste */
ul.navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
   }

ul.navbar li {
    min-width: 150px;
    height: 34px;
    background: white;
    margin: 0.5em 0;
    border-right: 12px solid darkgrey;
    }

/* Tabellen */
table {
    width: 100%;
}

table tr
{
    border: 1px solid black;

}

.dataTable{
    text-align: left;
    margin-left: 10px;
}

#tableNeueAufgabe{
    width: 55%;
}

/* Style fuer die Toolbuttons "Neue Aufgabe", "Neue Liste", etc */
.toolbutton{
    border: 1px solid white;
    background-color: gainsboro;
    border-radius: 3px;
    float: left;
    margin-top: 7px;
    margin-left: 7px;
}

/* Style fuer die Listenbuttons */
.menubutton{
    border: none;
    color: #404040;
    font-weight: bold;
    text-align: left;
    background-color: white;
    height: 34px;
    width: 100%;
}

/* Style fuer den Default-Listenbutton "Alle Aufgaben" */
.menubutton1{
    border: none;
    color: white;
    font-weight: bold;
    text-align: left;
    background-color: #008B8B;
    height: 34px;
    width: 100%;
}

/* Style fuer den Button "(User)Hinzufügen", "Liste hinzufügen", etc */
.button{
    border: 1px solid darkgrey;
    background-color: #F8F8F8;
    border-radius: 3px;
    margin-top: 3px;
}

/* Style fuer die Buttons "Benutzer hinzufügen", "Benutzer entfernen", "Aufgabe speichern" und "Bearbeiten abbrechen"*/
.button1{
    border: 1px solid darkgrey;
    background-color: #F8F8F8;
    border-radius: 3px;
    float: left;
    margin-top: 3px;
    margin-right: 3px;
    width: 140px;  
}

/* Style fuer den Homebutton (fuehrt zurueck zu den Aufgaben) */
.homebutton{
    background-color: gainsboro;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 40px;
}

/* Style fuer die Buttons "Log In" bzw. "Log Out"*/
.loginbutton{
    border: 1px solid darkgrey;
    background-color: #F8F8F8;
    border-radius: 3px;
    margin-left: 3px;
}

/* Styles fuer Login und Logout */
.LoginAnzeige{
    font-size: 0.8em;
    margin-right: 10px;
}

#LoginFehler{
    background-color: gainsboro;
    float: right;
    width:100%;
    height: 250px;
    text-align: center;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
    font-weight: bold;
}

#Ausgeloggt{
    background-color: gainsboro;
    float:right;
    width:100%;
    height: 250px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
    font-weight: bold;
}

/*Style für die Startseite*/
#startseite{
    float:right;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gainsboro;
    width:100%;
    height: 300px;
}

/*Style für den Text auf der Startseite*/
#startseite h1{
    padding-top:80px;
    font-size:60px; 
    font-weight:bold; 
    color: slategray;
}

/* Style fuer Outputtext in BenutzerHinzufuegen bzw. BenuterLoeschen */
.benutzer{
    font-size: small;
}

/* Wird genutzt wenn eine Aufgabe erledigt ist */
.erledigt
{
    color: #009933;
    text-decoration: line-through;
}

/* Wird genutzt um erledigte Aufgaben auszublenden */
.ausgeblendet
{
    display: none;
}
